on:
  workflow_dispatch:
jobs:
  build-and-run:
      runs-on: ubuntu-latest
      environment: Production
      permissions:
        contents: read
        packages: write
  
      steps:
      - name: Build Docker Image and Push to GHCR
        # You may pin to the exact commit or the version.
        # uses: GlueOps/github-actions-build-push-containers@4ae580f710f614ccba941103be98dc97db6599b3
        uses: GlueOps/github-actions-build-push-containers@v0.1.3
        with:
          # Personal Access Token (PAT) used to authenticate with the GitHub Container Registry.
          github_token: ${{ github.token }}
          # Docker image is named after repository
          image_name: ${{ github.repository }}
          # path to the Dockerfile
          dockerfile-path: .
          # A path to the context in which the build will happen, see https://docs.docker.com/engine/reference/commandline/build/
          context: .
          # The container registry to push the image to
